{% extends "admin/base.html" %}

{% block main_content %}
  <h2>Voos</h2>
  <div class="grid">
    <div class="card">
      <strong>FT230 • GRU → EWR</strong>
      <p>Partida: 12/12/2025 às 22h15</p>
      <p>Assentos ocupados: 180/220</p>
    </div>
    <div class="card">
      <strong>FT098 • CGH → BSB</strong>
      <p>Partida: 18/12/2025 às 08h40</p>
      <p>Assentos ocupados: 82/120</p>
    </div>
    <div class="card">
      <strong>FT777 • REC → GRU</strong>
      <p>Partida: 25/12/2025 às 15h10</p>
      <p>Assentos ocupados: 150/180</p>
    </div>
  </div>
{% endblock %}
